/* Modal window */
.modal {
    position: absolute;
    top:0;
    right:0;
    width: 100%;
    min-height: 100vh;
    display: none;
}
/* Modal background */
.modal__bg-black {
    background-color: rgba(0, 0, 0, 50%);
    position: fixed;
    top:0;
    right:0;
    left:0;
    bottom:0;
}


/* Modal form */
.modal__form {
    max-width: clamp(100px, 50vw, calc(754px - 196px));
    width: 100%;
    height: min-content;
    position: absolute;
    justify-self: center;
    top: 101px;
    
    display: flex;
    flex-direction: column;

    border-radius: 10px;
    background-color: white;

    padding: 53px 98px 53px 98px;
}
.modal__form-title {
    margin: 0;
    margin-bottom: 35px;
    line-height: 34px;
    font-weight: 800;
    font-size: 28px;
    font-family: "Montserrat";
}

/* Modal block with main info */
.modal__main-info {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.modal__main-info-left {
    display: flex;
    flex-direction: column;
    width: 362px;
}
.modal__main-info-right {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-left: 26px;
}

/* Modal set logo in right block of main info */
.modal__set-logo-title {
    font-size: 14px;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 0px;
    text-align: center;
    margin-top: 0;
    margin-bottom: 7px;
}
.modal__set-logo-block {
    width: 175px;
    aspect-ratio: 1 / 1;
    position: relative;

}
.modal__get-image-block{
    overflow: hidden;
    border-radius: 50%;

    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.modal__partner-logo {
    width: calc(100% - 11.66px);
    height: calc(100% - 11.66px);
    object-fit:fill;
}
.modal__get-image {
    position: absolute;
    width: 60%;
    height: 80%;
    
    left:20%;
    top:10%;
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.modal__get-image img {
    width:29.17px;
    object-fit:cover;
    aspect-ratio: 1 / 1;
}
.modal__delete-image {
    position: absolute;
    width: 36.17px;
    aspect-ratio: 1 / 1;

    margin-top: 15.17px;
    margin-right: 8.17px;
    
    right:0%;
    top:0%;
    object-fit:scale-down;

    border-radius: 50%;
    background-color: white;
    cursor: pointer;

    visibility: hidden;
}
.modal__get-image-input {
    border: none;
    outline: none;
    background: none;
    cursor: pointer;
    color: transparent;
    width: 100%;

    width: 80.5px;
    height: 56px;
}
.modal__get-image-input::-webkit-file-upload-button {
    visibility: hidden;
}
.modal__get-image-input::after {
    content: 'Выберите файл';
    color: white;
    text-align: center;
    text-decoration-line: underline;
    left: 0;
    width: 100%;
    white-space: pre-line;
    position: absolute;
    font-size: .8em;

    font-family: "PT Sans";
    font-size: 19px;
    font-weight: 400;
    line-height: 28px;
    letter-spacing: 0px;
    text-align: center;
}


/* Modal inputs and select */
.modal__input, .modal__dropdown-list {
    width: 100%;
	position: relative;
    margin-bottom: 32px;
}
.modal__input input, .modal__dropdown-list select {
    width: 100%;
    height: 56px;
    
    padding-left: 16px;
    background: transparent;

	outline: 1px solid #D6DADE;
    font-size: 1em;
    
	border:none;
    border-radius: 1px;
    box-shadow: none !important;

    color: #0C1014;
    font-size: 16px;
    font-family: "PT Sans";
    font-weight: 400;
    line-height: 24px;
    word-wrap: break-word;
}
.modal__input input:hover, .modal__dropdown-list select:hover {
	outline: 1px solid #bdc0c4;
}
/* Modal input with floating hint */
.modal__input-with-hint input, .modal__dropdown-list select {
    padding-top:22px;
    padding-bottom:8px;
}
.modal__input-with-hint span, .modal__dropdown-list span {
	position: absolute;
	pointer-events: none;
	top: 8px;
	left: 16px;
    font-size: .8em;
}

/* Modal input link */
.modal__input-with-ico input, .modal__input-with-ico select{
    padding-right: 36px;
}
.modal__input-with-ico img {
    width: 18px;
    position: absolute;
	pointer-events: none;
    padding-top: auto;
	top: 19px;
	right: 16px;
    object-fit:scale-down;
    aspect-ratio: 1 / 1;
}



/* Modal input buttons */
.modal__input-btn {
    height: 48px;
    width: 100%;
    border-radius: 5px;
	border:none;
}
.modal__input-btn-apply {
    background: rgb(232,36,108);
    color: #FFFFFF;

    font-weight: 400;
    line-height: 18px;
    letter-spacing: 0px;
    text-align: center;
    
    margin-top: 18px;
    margin-bottom: 15px;

    /* font-family: "Lato";
    font-size: 16px;
    font-weight: 600; */
}
.modal__input-btn-cancel {
    background: transparent;
    color: #0848C0;
    height: min-content;

    line-height: 24px;
    word-wrap: break-word;
}


/* Remove arrow in select */
.modal__dropdown-list select {
    -webkit-appearance:none !important;
   -moz-appearance:none;
   -ms-appearance:none;
   appearance:none !important;
}
.modal__dropdown-list select::-ms-expand {
    display: none;
}


.modal__hint{
    color: #6A6E72;
}

@media (max-width: 800px) {
    .modal__form {
        font-size: 2.5vw;
    }
    .modal__main-info {
        display: flex;
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
    }
    .modal__main-info-left{
        width: 100%;
    }
    .modal__main-info-right{
        padding: 0 0 32px 0;
        width: 100%;
    }
    .modal__input input, .modal__dropdown-list select {
        height: 8vw;
    }
}
@media (max-width: 600px) {
    .modal__form {
        padding: 10vw;
    }
    .modal__form-title {
        margin: 0;
        margin-bottom: 5vw;
        font-size: 5vw;
        text-align: center;
        line-height: normal;
    }
    .modal__set-logo-block{
        height: clamp(150px, 30vw, 175px);
        width: clamp(150px, 30vw, 175px);
    }
    .modal__input input, .modal__dropdown-list select {
        height: 12vw;
        font-size: 4vw;
        padding-left: 2vw;
    }
    .modal__dropdown-list select {
        padding: 10px 0 0 2vw;
    }
    .modal__input-with-ico img {
        width: 4vw;
        top: 4vw;
        right: 2vw;
    }
    .modal__input-with-hint span, .modal__dropdown-list span {
        top:1vw;
        left: 1vw;
        font-size: 3vw;
    }
    .modal__input-btn {
        height: min-content;
        min-height: 48px;
        border:none;
        text-wrap:wrap;
    }
}
@media (max-width: 300px) {
    .modal__input input, .modal__dropdown-list select {
        height: 18vw;
        font-size: 7vw;
        padding-left: 2vw;
    }
    .modal__dropdown-list select {
        padding: 10px 0 0 2vw;
    }
    .modal__input-with-hint span, .modal__dropdown-list span {
        top:1vw;
        left: 1vw;
        font-size: 4vw;
    }
    .modal__input-with-ico img {
        width: 5vw;
        top: 6vw;
        right: 2vw;
    }
    .modal__input-with-ico input, .modal__input-with-ico select{
        padding-right: 26px;
    }
}